</div><div  id="footer"class="row">
    <div style="color: white;" class="col-md-1">
       C <br> O  <br> N <br> T <br> A <br> C <br> T
    </div>
    <div style="padding: 50px;" class="col-md-11">
     <a href="mailto:thelovedhiman@gmail.com">thelovedhiman@gmail.com</a><br>
     <a href="tel:9541122850">Contact No for Query: 9541122850</a><br><br>
     <footer>Created By: Love Dhimaan</footer>
    </div>
 </div>
 
</body>
</html>
