</div><div  id="footer"class="row">
    <div style="color: white;" class="col-md-1 ">
      <h2> Contact </h2>
     
    </div>
    <div style="padding: 50px;" class="col-md-11">
     <a href="mailto:thelovedhiman@gmail.com">thelovedhiman@gmail.com</a><br>
     <a href="tel:9541122850">Contact No for Query: 9541122850</a><br><br>
     <footer>Created By: Love Dhimaan</footer>
    </div>
 </div>

</body>
</html>
