<%-include("partials/header")%>
<br />

<body style="color: white; background-color: #a9abb8;">
   <div class="container">
      <div class="row size">
         <div class="col-md-9">
            <h1 class="display-4">Welcome To Chemistry Classes</h1>
            <i class="fa fa-flask" aria-hidden="true"></i>
         </div>
         <div class="col-md-3">
            <h2 class="display-4">BY - TWINKLE MAM</h2>
            <a href="/add">Add Lecture</a>
         </div>
      </div>
      <div class="row white">
         <div class="col">
            <p>
               <b>
                  We assure you to give you education that you will not forget
                  even after your last breath.
               </b>
            </p>
         </div>
      </div>
      <div class="row justify-content-center white">
         <a href="/classIX">
            <div class="btn btn-dark" class="col-md-4">
               Class IX
            </div>
         </a>

         <a href="/classX">
            <div class="btn btn-dark" class="col-md-4">
               Class X
            </div>
         </a>
      </div>
      <div id="colr" class="black row"></div>
   </div>
   <br />
</body>

<%-include("partials/footer")%>
