<%-include("partials/header")%>
<br>

<body style="color: white;
   background-size: cover;
 
   background-repeat: no-repeat;
   background-image: url(https://images.unsplash.com/photo-1562411053-c9ac630a5934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
">
   <div class="container">
      <div class="row size">
         <div class="col-md-9 ">
            <h1 class="display-4">Welcome To Chemistry Classes</h1>
            <i class="fa fa-flask" aria-hidden="true"></i>
         </div>
         <div class="col-md-3 ">
            <h2 class="display-4">BY - TWINKLE MAM</h2>
            <a href="/add">Add Lecture</a>
         </div>
      </div>
      <div class="row white">
         <div class="col">
            <p><b>
                  We assure you to give you education that you will not forget even after
                  your last breath.
               </b> </p>
         </div>
      </div>
      <div class="row justify-content-center white">

         <div class="col-md-4">
            <a class="btn btn-dark" href="/classIX">
               Class IX
            </a>
         </div>

         <div class="btn btn-dark" class="col-md-4">
            <a href="/classX">
               Class <br>
               X
            </a>
         </div>
      </div>
      <div class="black row" ">

      </div>

   </div>
   </div><br>
</body>




<%-include("partials/footer")%>