<%-include("../partials/header")%>
<div class="container">
    <h2 class="display-3">Sign Up Form</h2>
    <div class="black" class="row"></div>
    <form action="">
        <div class="row justify-content-center">
            <input type="text" placeholder="Username" />
        </div><br>
        <div class="row justify-content-center"">
            <input type=" password" placeholder="Password" />
</div><br>
<div class="row justify-content-center"">
            <button>Sign Up</button>
          </div><br>
      </div> <div class=" whit" class="row"></div>



</form>

<%-include("../partials/footer")%>