<%-include("../partials/header")%>
<div class="container">
    <h2 class="display-3">Sign Up Form</h2>
    <div class="black" class="row"></div>
    <form action="register" method="POST">
        <div class="row justify-content-center">
            <input name="firstName" type="text" placeholder="First Name" />
        </div><br>
        <div class="row justify-content-center">
            <input name="lastName" type="text" placeholder="Last Name" />
        </div><br>
        <div class="row justify-content-center">
            <input name="email" type="text" placeholder="Email" />
        </div><br>
        <div class="row justify-content-center"">
            <input name="password" type="password" placeholder="Password" />
</div><br>
<div class="row justify-content-center"">
            <button>Sign Up</button>
          </div><br>
      </div> <div class=" whit" class="row"></div>



</form>

<%-include("../partials/footer")%>